{{#each this}}
<li>
        <article>
            <img src="{{flag}}" alt="" width="400">
            <h2>{{name}}</h2>
            <p>Posted by: {{capital}}</p>
            <p>{{languages.name}}</p>
            <p>{{population}}</p>
        </article>
    </a>
</li>
{{/each}}