{{#each this}}
<li>
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <article>
            <img src="{{flag.svg}}" alt="" width="400" height="400px">
            <h2>{{name}}</h2>
            <p>Posted by: {{capital}}</p>
            <p>{{languageы.name}}</p>
            <p>{{population}}</p>
        </article>
    </a>
</li>
{{/each}}